nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: lavender;
    display: flex;
    align-items: center;
}
nav a{
    display: block;
    height: 30px;
    width: 80px;
    margin-left: 5px;
    background-color: indigo;
}
.content{
    display: flex;
    height: 100vh;
}
main{
    background-color: yellow;
    flex: 3;
}
aside{
    background-color: brown;
    flex: 1;
}